@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap")
layer(base);
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap")
layer(base);
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif&family=Raleway&display=swap")
layer(base);
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@900&display=swap")
layer(base);
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap")
layer(base);

@import "tailwindcss";
@theme {
	--font-playfair: Playfair Display;
	--font-noto: Noto Serif;
	--font-raleway: Raleway;
	--font-barlow: Barlow;
	--font-inter: Inter;
}

@plugin "tailwind-scrollbar";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer components {
	h1 {
		@apply text-6xl font-bold font-noto mb-8;
	}
	p {
		@apply text-base;
	}
}
